@import 'variables';
@import '~@angular/material/theming';
@import 'theme';

$primary: map-get($theme, primary);

nav {
  display: grid;
  width: fit-content;
  margin: 0 auto;
  grid-auto-flow: column;
}

::ng-deep a.app-tab-link {
  border: none;
  padding: .5em 1em;
  &.active {
    background: mat-color($primary, 50);
  }
}
