@import 'variables';
@import '~@angular/material/theming';
@import 'theme';

$primary: map-get($theme, primary);

nav {
  display: grid;
  width: fit-content;
  margin: 0 auto;
  grid-auto-flow: column;
}

::ng-deep a.app-tab-link {
  // NOTE: defined in _material.scss
}
