@import 'mixins/media';
@import 'variables';

:host {
  @include media-sm {
    display: grid;
    grid-template-columns: 10em 1fr;
    grid-gap: 2em;
  }
}

#divide {
  margin: 1em 0;
}

h2 {
  font-weight: normal;
  font-size: 0.7 * $font-size-h2;
  padding-top: 0;  // fix
}
