<div class="page pad-h-sm">

  <header class="text-center">
    <a id="banner" class="no-style" routerLink="/">
      <img src="assets/img/codesail-home-banner.png" alt="">
    </a>
    <h2>
      A journey through web development & software engineering
    </h2>
    <p id="author">
      by <a routerLink="/about">Florimond Manca</a>
    </p>
  </header>

  <hr id="divide" class="asterisk">

  <p class="text-center text-muted">
    New fresh blog posts (mostly) twice per week.
  </p>

  <app-post-list [posts]="posts"></app-post-list>

</div>
