<div class="page pad-h-sm">
  <!-- Header -->
  <div class="text-center pad-h-sm">
    <h1 class="text-primary">
      <label>
        CodeSail
      </label>
    </h1>
    <h2 class="text-muted">
      <label>
        A journey through web development & software engineering
      </label>
    </h2>
    <p>
      by Florimond Manca
    </p>
  </div>

  <hr id="divide" class="asterisk">

  <app-post-list [posts]="posts">
    <p class="text-center">
      Fresh articles coming soon!
    </p>
  </app-post-list>
</div>
