<footer id="footer">
  <hr>

  <ul class="socials">
    <li>
      <fa-icon class="icon" [icon]="faGitHub"></fa-icon>
      <a href="https://github.com/florimondmanca" target="_blank">@florimondmanca</a>
    </li>
    <li>
      <fa-icon class="icon" [icon]="faTwitter"></fa-icon>
      <a href="https://twitter.com/FlorimondManca" target="_blank">@FlorimondManca</a>
    </li>
    <li>
      <fa-icon class="icon" [icon]="faLinkedin"></fa-icon>
      <a href="https://www.linkedin.com/in/florimondmanca" target="_blank">Florimond Manca</a>
    </li>
    <li>
      <fa-icon class="icon" [icon]="faRss"></fa-icon>
      <a [href]="rssFeedUrl">RSS</a>
    </li>
  </ul>

  <p>
    © {{ now | amDateFormat: 'YYYY' }} Florimond Manca
  </p>

</footer>
