@import 'variables';

#footer {
  text-align: center;
  margin: 4em 0;
}

ul.socials {
  list-style-type: none;
  width: fit-content;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  li {
    margin: .7em;
  }
}

#dev-icon {
  opacity: 0.75;
}
