@import 'variables';

#footer {
  text-align: center;
  margin: 4em 0;
}

ul.socials {
  max-width: $page-max-width;
  list-style-type: none;
  margin: 1em auto;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  li {
    margin: .5em;
    .icon {
      margin-right: .75em;
    }
  }
}
