<footer id="footer">
  <hr>

  <ul class="socials">
    <li>
      <a href="https://github.com/florimondmanca" target="_blank" rel="noreferrer" title="GitHub (florimondmanca)">
        <fa-icon [icon]="faGitHub"></fa-icon>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/FlorimondManca" target="_blank" rel="noreferrer" title="Twitter (@FlorimondManca)">
        <fa-icon [icon]="faTwitter"></fa-icon>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/florimondmanca" target="_blank" rel="noreferrer" title="LinkedIn (florimondmanca)">
        <fa-icon [icon]="faLinkedin"></fa-icon>
      </a>
    </li>
    <li>
      <a href="https://dev.to/florimondmanca" target="_blank" rel="noreferrer" title="DEV (florimondmanca)">
        <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="Florimond Manca's DEV Profile" id="dev-icon" height="16" width="16"/>
      </a>
    </li>
    <li>
      <a href="feed://api.florimondmanca.com/blog/feed" title="RSS Feed">
        <fa-icon [icon]="faRss"></fa-icon>
      </a>
    </li>
  </ul>

  <p>
    © {{ now | amDateFormat: 'YYYY' }} &middot; Made with ✨ by Florimond Manca
  </p>

</footer>
