#header {
  h1 {
    margin: 0;
  }
}

#banner {
  img {
    max-width: 100%;
    height: auto;
    pointer-events: none;
  }
  figcaption {
    text-align: right;
    font-size: x-small;
    width: 100%;
  }
}
