<div id="header" class="text-center pad-h-sm">
  <h1>Florimond Manca</h1>
  <p class="text-muted">
    [flɔʁimɔ̃ mɑ̃ka]
  </p>
  <p>
    I write about web development and software engineering. 💻
  </p>
</div>

<div id="banner" class="page text-center">
  <img src="assets/img/profile-banner.jpg" alt="Florimond Manca">
  <figcaption class="text-muted pad-h-sm">Lauren Mijatovic, 2018.</figcaption>
</div>

<app-tabs>
  <a app-tab-link *ngFor="let link of links"
    routerLinkActive
    #rla="routerLinkActive"
    [active]="rla.isActive"
    [routerLink]="link.path">
    {{ link.label }}
  </a>
</app-tabs>

<router-outlet></router-outlet>

<div class="page pad-h-sm">
  <h2>Keep in touch</h2>
  <p>
    Fancy a chat? Get in touch via
    <a href="https://twitter.com" rel="noreferrer">Twitter</a>
    or
    <a href="https://linkedin.com/in/florimondmanca" rel="noreferrer">LinkedIn</a>
    or take a look at my projects over
    <a href="https://github.com/florimondmanca">GitHub</a>.
  </p>
  <p>
    <app-follow-button></app-follow-button>
  </p>
</div>
