<div id="header" class="text-center pad-h-sm">
  <h1>Florimond Manca</h1>
  <p class="text-muted">
    [flɔʁimɔ̃ mɑ̃ka]
  </p>
  <p>
    I write about web development and software engineering. 💻
  </p>
  <p>
    <app-follow-button></app-follow-button>
  </p>
</div>

<div id="banner" class="page text-center">
  <img src="assets/img/profile-banner.jpg" alt="Florimond Manca">
  <figcaption class="text-muted pad-h-sm">Lauren Mijatovic, 2018.</figcaption>
</div>

<app-tabs>
  <a app-tab-link *ngFor="let link of links"
    routerLinkActive
    #rla="routerLinkActive"
    [active]="rla.isActive"
    [routerLink]="link.path">
    {{ link.label }}
  </a>
</app-tabs>

<router-outlet></router-outlet>

<div class="page pad-h-sm">
  <markdown ngPreserveWhitespaces>
    ## Keep in touch

    Fancy a chat? Get in touch via [Twitter](https://twitter.com/FlorimondManca) or [LinkedIn](https://linkedin.com/in/florimondmanca) or take a look at my projects over [GitHub](https://github.com/florimondmanca).
  </markdown>
</div>
