@import '~@angular/material/theming';
@import 'variables';
@import 'mixins/link';
@import 'mixins/code';
@import 'theme';

$primary: map-get($theme, primary);
$warn: map-get($theme, warn);

.text-center {
  text-align: center;
}

.text-upper {
  text-transform: uppercase;
}

.page {
  max-width: $page-max-width;
  margin: auto;
}

.pad-h-sm {
  padding-left: 1em;
  padding-right: 1em;
}

.pad-v-sm {
  padding-top: 1em;
  padding-bottom: 1em;
}

.text-muted {
  color: $color-muted;
}

p.text-hint {
  color: $color-muted;
  font-size: small;
}

.text-mono {
  font-family: $font-mono !important;
}

.text-primary {
  color: mat-color($primary);
}

.text-warn {
  color: mat-color($warn);
}

.bg-primary {
  background: mat-color($primary);
}

hr.sm {
  max-width: 20em;
  margin: auto;
}

hr.asterisk {
  position: relative;
  background: none;
  &::before {
    content: '***';
    width: 100%;
    position: absolute;
    top: -.5em;
    text-align: center;
    color: $color-muted;
  }
}

.full-width {
  width: 100%;
}

.content-width {
  width: fit-content;
}

.code {
  @include code;
}

.clickable {
  cursor: pointer;
}

// Links

a {
  &.warn {
    @include link(mat-color($warn));
    color: mat-color($warn);
  }
}

// Sticky content

.sticky-bottom-pad {
  position: sticky;
  right: 4em;
  bottom: 0;
}
