@import 'variables';
@import 'mixins/button';

.text-center {
  text-align: center;
}

.text-upper {
  text-transform: uppercase;
}

.page {
  max-width: $page-max-width;
  margin: auto;
}

.pad-h-sm {
  padding-left: 1em;
  padding-right: 1em;
}

.pad-v-sm {
  padding-top: 1em;
  padding-bottom: 1em;
}

.text-muted {
  color: $color-muted;
}

p.text-hint {
  color: $color-muted;
  font-size: small;
}

.text-mono {
  font-family: $font-mono;
}

.text-primary {
  color: $color-primary;
}

.text-primary.text-muted {
  color: $color-primary-muted;
}

.bg-primary {
  background: $color-primary;
}

hr.sm {
  max-width: 20em;
  margin: auto;
}

.full-width {
  width: 100%;
}

.content-width {
  width: fit-content;
}

// Buttons

button, .button {
  &.primary {
    @include button($color-primary);
    color: white;
  }
}

// Sticky content

.sticky-bottom-pad {
  position: sticky;
  right: 4em;
  bottom: 0;
}
