@import '~@angular/material/theming';
@import 'variables';
@import 'mixins/media';

.text-center {
  text-align: center;
}

.text-upper {
  text-transform: uppercase;
}

.page {
  max-width: $page-max-width;
  margin: auto;
}

@mixin pad-h($amount) {
  box-sizing: border-box;
  padding-left: $amount;
  padding-right: $amount;
}

@mixin pad-h-sm() {
  @include pad-h(1em);
}

.pad-h-responsive {
  @include pad-h-sm();
  @include media-sm {
    @include pad-h(2em);
  }
}

.pad-h-sm {
  @include pad-h-sm();
}

.pad-v-sm {
  padding-top: 1em;
  padding-bottom: 1em;
}

hr.sm {
  max-width: 20em;
  margin: auto;
}

.full-width {
  width: 100%;
}

.content-width {
  width: fit-content;
}

.clickable {
  cursor: pointer;
}

// Sticky content

.sticky-bottom-pad {
  position: sticky;
  right: 4em;
  bottom: 0;
}
