$primary: (
  50: #ebf8f6,
  100: #cdeee9,
  200: #ace3db,
  300: #8bd8cd,
  400: #72cfc2,
  500: #59c7b7,
  600: #51c1b0,
  700: #48baa7,
  800: #3eb39f,
  900: #2ea690,
  A100: #ebfffb,
  A200: #b8fff1,
  A400: #85ffe7,
  A700: #6bffe2,
  contrast: (50 : #000000, 100 : #000000, 200 : #000000, 300 : #000000, 400 : #000000, 500 : #000000, 600 : #000000, 700 : #000000, 800 : #000000, 900 : #ffffff, A100 : #000000, A200 : #000000, A400 : #000000, A700 : #000000,)
);

$warn: (
  50: #fdebe6,
  100: #facdc1,
  200: #f7ac98,
  300: #f38a6e,
  400: #f1714f,
  500: #ee5830,
  600: #ec502b,
  700: #e94724,
  800: #e73d1e,
  900: #e22d13,
  A100: #ffffff,
  A200: #ffe1de,
  A400: #ffb3ab,
  A700: #ff9c91,
  contrast: (50 : #000000, 100 : #000000, 200 : #000000, 300 : #000000, 400 : #000000, 500 : #000000, 600 : #ffffff, 700 : #ffffff, 800 : #ffffff, 900 : #ffffff, A100 : #000000, A200 : #000000, A400 : #000000, A700 : #000000,)
);

$accent: (
  50: #fce7ea,
  100: #f9c4cb,
  200: #f59da9,
  300: #f07687,
  400: #ed586d,
  500: #ea3b53,
  600: #e7354c,
  700: #e42d42,
  800: #e12639,
  900: #db1929,
  A100: #ffffff,
  A200: #ffdadd,
  A400: #ffa7ae,
  A700: #ff8e96,
  contrast: (50 : #000000, 100 : #000000, 200 : #000000, 300 : #000000, 400 : #000000, 500 : #ffffff, 600 : #ffffff, 700 : #ffffff, 800 : #ffffff, 900 : #ffffff, A100 : #000000, A200 : #000000, A400 : #000000, A700 : #000000,)
);
