@import './mixins/fontface';

// Colors
$color-text: #424242;
$color-muted: #738f8f;
$color-muted-dark: darken($color-muted, 20%);
$color-inline-code: #df5f71;
$color-gray-light: #F0F0F0;
$color-gray-lightest: #F9F9F9;

// Fonts
$font: 'Agane';
$font-mono: 'Inconsolata';
$font-size: 1.2em;
$font-line-height: 1.5;
$font-size-title: 3em;
$font-size-h1: 2.2em;
$font-size-h2: 1.6em;
$font-size-h3: 1.5em;
$font-size-h1-sm: 1.6em;
$font-size-h2-sm: 1.35em;
$font-size-h3-sm: 1.2em;
$font-size-quote: 1.1*$font-size;
$font-size-caption: 0.8*$font-size;

// Layout
$page-max-width: 40em;
