// Fonts
$font: 'Agane';
$font-mono: 'Inconsolata';
$font-size: 1.2em;
$font-line-height: 1.5;
$font-size-title: 3em;
$font-size-h1: 2.2em;
$font-size-h2: 1.6em;
$font-size-h3: 1.5em;
$font-size-h1-sm: 1.6em;
$font-size-h2-sm: 1.35em;
$font-size-h3-sm: 1.2em;
$font-size-quote: 1.1*$font-size;
$font-size-caption: 0.8*$font-size;

// Layout
$page-max-width: 40em;
