<ul>
  <li class="post" *ngFor="let post of posts">
    <div class="post-header">
      <label class="text-muted" *ngIf="post.published">
        {{ post.published | date:'longDate' }}
      </label>
      <app-tag-list id="tag-list" [ngClass]="{'separated': post.published}" [tags]="post.tags" *ngIf="post.tags.length > 0"></app-tag-list>
    </div>

    <h3>
      <a [routerLink]="getLink(post)" (click)="scrollTop()">
        {{ post.title }}
      </a>
    </h3>

    <p>
      {{ post.description }}
    </p>
  </li>
  <p class="text-center" *ngIf="posts.length === 0">
    {{ ifEmpty }}
  </p>
</ul>

<div class="text-center">
  <button mat-button *ngIf="hasMorePosts()" [disabled]="loadingMore" (click)="loadMore()">
    Load more
  </button>
</div>
