@import 'variables';
@import 'mixins/media';
@import 'mixins/shadow';

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.post {
  // NOTE: defined in _material.scss
}

.published-date {
  margin: 0;
}

#tag-list {
  &.separated::before {
    content: '\2219';
  }
}
