@import 'variables';
@import 'mixins/media';
@import 'mixins/shadow';

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.post {
  padding: 1em 0;
  & + .post {
    border-top: 1px solid $color-gray-light;
    margin-top: 0em;
  }
}

.published-date {
  margin: 0;
}

#tags {
  &.separated::before {
    content: '\2219';
  }
}
