@import 'variables';
@import 'mixins/media';
@import 'mixins/shadow';

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.post {
  // NOTE: border defined in _material.scss
  padding-bottom: 1em;
  & + .post {
    padding-top: 1em;
  }
}

.post-header {
  font-size: smaller;
  margin-bottom: .25em;
  @include media-xs {
    margin-bottom: 0;
    font-size: inherit;
  }
}

.published-date {
  margin: 0;
}

.tag-list {
  &.separated::before {
    content: '\2219';
  }
}
