@import 'variables', 'mixins/media';

#editor {
  @include media-sm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "edit preview";
    grid-column-gap: 2em;
  }
}

.hidden {
  display: none;
  @include media-sm {
    display: block;
  }
}

#tools {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;
  padding: .5em;
}

#preview-toggle {
  @include media-sm {
    display: none;
  }
}

#edit {
  grid-area: edit;
  textarea {
    font-family: $font-mono;
  }
}

#preview {
  grid-area: preview;
  // Fix expand of grid item
  min-width: 0;
  &.hidden {
    display: none;
    @include media-sm {
      display: block;
    }
  }
}

#image {
  img {
    max-width: 100%;
    height: auto;
  }
}
