<div class="image-upload">
  <button mat-icon-button type="button" class="mat-elevation-z1" (click)="openUploadDialog()">
    <mat-icon>image</mat-icon>
  </button>
</div>
<p class="text-hint" id="markdown-hint">
</p>
<div id="editor">
  <mat-form-field id="edit" class="full-width" appearance="fill">
    <mat-label>Markdown is supported.</mat-label>
    <textarea matInput
      [formControl]="control"
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="30"></textarea>
  </mat-form-field>
  <markdown id="preview" [data]="mdContent"></markdown>
</div>
