<div id="tools">
  <span class="image-upload">
    <button mat-icon-button type="button" class="mat-elevation-z1" (click)="openUploadDialog()">
      <mat-icon>image</mat-icon>
    </button>
  </span>
  <mat-slide-toggle [checked]="previewActive" (change)="setPreview($event.checked)" id="preview-toggle">
    Preview
  </mat-slide-toggle>
  <ng-content selector="[app-editor-tool]"></ng-content>
</div>
<div id="editor">
  <mat-form-field id="edit" class="full-width" appearance="fill" [ngClass]="{'hidden': previewActive}">
    <mat-label>Markdown is supported.</mat-label>
    <textarea matInput
      (input)="onTextChange($event)"
      [formControl]="control"
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="30"></textarea>
  </mat-form-field>
  <section id="preview">
    <app-image *ngIf="imageUrl" [src]="imageUrl" [caption]="imageCaption" id="image"></app-image>
    <markdown *ngIf="previewActive" [data]="mdContent"></markdown>
  </section>
</div>
