<div id="header" class="text-center pad-h-sm">
  <h1>Florimond Manca</h1>
  <p class="text-muted">
    [flɔʁimɔ̃ mɑ̃ka]
  </p>
  <p>
    I write about web development and software engineering. 💻
  </p>
  <p>
    <a routerLink="/codesail">Read the blog</a>
  </p>
</div>

<div id="banner" class="page text-center">
  <img src="assets/img/profile-banner.jpg" alt="Florimond Manca">
  <figcaption class="text-muted">Lauren Mijatovic, 2018.</figcaption>
</div>

<div class="page pad-h-sm">
  <markdown ngPreserveWhitespaces>
    ## Bio

    Born in Belgium and naturalized French, I am a citizen of Europe. I pursue a Masters of Engineering with a focus on Software Engineering at [CentraleSupélec](http://www.centralesupelec.fr/en), France. I am a passionate problem solver. I try to feed my curiosity and learn everyday. I draw motivation from challenging problems, effective team collaboration and enriching relationships. I believe in user-first approaches. Systems should accomodate their users, not the other way around. I can be an idealist. I believe technology can help us solve some of the issues humanity is currently facing.

    ## Values

    I value strong work ethics. Here are some of the motos that drive my work.

    <ul class="motos">
      <li>This is a journey</li>
      <li>Stay inspired</li>
      <li>Guidelines: pick one and stick to it</li>
      <li>Commit to high quality standards</li>
      <li>Tests are your safety net</li>
      <li>Work with people more talented than yourself</li>
      <li>Be supportive, empathize always</li>
      <li>Know what you don't know; ask questions</li>
      <li>Never stop learning</li>
    </ul>

    ## Keep in touch

    Fancy a chat? Get in touch via LinkedIn or take a look at my projects over GitHub.
  </markdown>
</div>
