<markdown ngPreserveWhitespaces>
  ## Bio

  I am a citizen of Europe — both Belgian and French.

  I am an engineering student at [CentraleSupélec](http://www.centralesupelec.fr/en), France.

  I am a passionate problem solver and coding addict; I try to feed my curiosity and learn everyday.

  I draw motivation for challenging problems, effective team collaboration and enriching relationships.

  I believe in user-first approaches. Systems should be designed for their users, or their purpose is pretend.

  ## Values

  <ul class="motos">
    <li>This is a journey</li>
    <li>Stay inspired</li>
    <li>Guidelines are arbitrary; stick to them</li>
    <li>Commit to high quality standards</li>
    <li>Tests are your safety net</li>
    <li>Work with talented people</li>
    <li>Be supportive, empathize always</li>
    <li>Know what you don't know; ask questions</li>
    <li>Never stop learning</li>
  </ul>
</markdown>
