#nav {
  padding-top: 2em;  // don't use margin, it will push the body down
  margin-bottom: 1em;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      margin: 0 1em;
    }
  }
}
