<nav id="nav">
  <ul>
    <li>
      <a routerLink="/">Blog &middot; CodeSail</a>
    </li>
    <li>
      <a routerLink="/about">About</a>
    </li>
    <li *ngIf="loggedIn">
      <button mat-icon-button type="button" [matMenuTriggerFor]="adminTools">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #adminTools="matMenu">
        <a mat-menu-item routerLink="/drafts">
          <mat-icon>drafts</mat-icon>
          Drafts
        </a>
        <a mat-menu-item routerLink="/create">
          <mat-icon>add</mat-icon>
          Add
        </a>
        <a mat-menu-item [href]="adminSiteUrl" target="_blank">
          <mat-icon>person</mat-icon>
          Admin
        </a>
        <a mat-menu-item href="https://analytics.google.com/analytics/web/" target="_blank">
          <mat-icon>timeline</mat-icon>
          Analytics
        </a>
        <a mat-menu-item routerLink="/" (click)="logout()">
          <mat-icon>power_settings_new</mat-icon>
          Log out
        </a>
      </mat-menu>
    </li>
  </ul>
</nav>
