<h2>
  A journey through web development & software engineering
</h2>

<p>
  <a routerLink="/about">by Florimond Manca</a>
</p>
<p class="text-muted">
  New fresh blog posts (mostly) every week.
</p>
<p>
  Updates: <app-follow-button></app-follow-button>
</p>

<hr class="large">

<p>
  <strong>Popular tags:</strong>
</p>

<app-tag-list [tags]="popularTags" [inline]="false"></app-tag-list>

<button mat-icon-button *ngIf="!allShown" (click)="loadAll()" [disabled]="loading">
  <mat-icon>expand_more</mat-icon>
</button>
