<form [formGroup]="formGroup" class="pad-h-sm" (ngSubmit)="formGroup.valid && submit()">

  <span id="header">
    <div id="fields">
      <mat-form-field id="title-field" class="full-width">
        <input matInput type="text" formControlName="title" required placeholder="Title">
      </mat-form-field>

      <mat-form-field id="slug-field" class="full-width">
        <input matInput type="text" formControlName="slug" required [readonly]="!canUpdateSlug" placeholder="Slug">
        <mat-error *ngIf="slugControl.hasError('exists')">
          An article with this slug already exists.
        </mat-error>
        <mat-hint>An identifier used in the blog post's URL.</mat-hint>
      </mat-form-field>

      <mat-form-field id="description-field" class="full-width">
        <input matInput type="text" formControlName="description" placeholder="Description">
        <mat-hint>Should be set for social cards and RSS support.</mat-hint>
      </mat-form-field>
    </div>

    <div>
      <button mat-raised-button color="primary" [disabled]="!formGroup.valid">
        Save <ng-template [ngIf]="!post || (post && post.isDraft)">draft</ng-template>
      </button>
      <button mat-button type="button" color="accent" *ngIf="post && post.isDraft" (click)="publish()">
        <mat-icon>publish</mat-icon>
        Publish
      </button>
      <!-- Menu with action buttons -->
      <button mat-icon-button type="button" *ngIf="post" [matMenuTriggerFor]="postTools">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #postTools="matMenu">
        <a *ngIf="post" mat-menu-item [routerLink]="['../']">
          <mat-icon>launch</mat-icon>
          View post
        </a>
        <button mat-menu-item (click)="delete()">
          <mat-icon>delete</mat-icon>
          Delete
        </button>
      </mat-menu>
    </div>
  </span>

  <app-editor [control]="contentControl" [mdContent]="content"></app-editor>
</form>
