@import 'variables';
@import 'mixins/media';

#navbar-container {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 20;  // float on top
}

#swipe-handle {
  position: absolute;
  right: 0;
  height: 100%;
  width: 30px;
}

mat-sidenav {
  width: 14em;
  padding: 1em;
  @include media-sm {
    padding-left: 2em;
  }
  font-size: smaller;
  h2 {
    font-weight: normal;
    font-size: 0.7 * $font-size-h2;
    padding-top: 0;  // fix
  }
}

#toggle-container {
  float: right;
}

#page-content, #toggle-container {
  padding-top: 1em;
}
