@import 'variables';
@import 'mixins/media';

#navbar-container {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;  // float on top of page content
}

#swipe-handle {
  position: absolute;
  right: 0;
  height: 100%;
  width: 30px;
}

mat-sidenav {
  width: 13em;
  padding: 1em;
  @include media-sm {
    padding-left: 2em;
  }
}

#toggle-container {
  float: right;
}

#page-content, #toggle-container {
  padding-top: 1em;
}
