<div id="navbar-container">
  <app-navbar></app-navbar>
</div>

<main>
  <mat-sidenav-container>

    <mat-sidenav #sidenav position="end" [autoFocus]="false" [mode]="onMobile ? 'over' : 'side'">
      <h2>
        A journey through web development & software engineering
      </h2>
      <p>
        <a routerLink="/about" (click)="onClickAbout()">by Florimond Manca</a>
      </p>
      <p class="text-muted">
        New fresh blog posts (mostly) every week.
      </p>
      <p>
        Updates: <app-follow-button></app-follow-button>
      </p>
    </mat-sidenav>

    <section id="sidenav-content">

      <div id="swipe-handle" (swipeLeft)="onSwipeLeft()" (swipeRight)="onSwipeRight()"></div>

      <div id="toggle-container" class="pad-h-responsive">
        <button mat-icon-button (click)="toggleSidenav()">
          <mat-icon>info_outline</mat-icon>
        </button>
      </div>

      <router-outlet></router-outlet>

      <app-footer></app-footer>

    </section>
  </mat-sidenav-container>
</main>
