<nav id="nav" class="pad-h-responsive">
  <ul>
    <li>
      <h1 id="title">
        <a routerLink="/">
          <span id="brand-long">CodeSail</span>
          <span id="brand-short">CS</span>
        </a>
      </h1>
    </li>
    <li>
      <app-search-form></app-search-form>
    </li>
    <li>
      <button mat-icon-button (click)="switchTheme()">
        <mat-icon aria-label="Toggle theme">brightness_medium</mat-icon>
      </button>
      <app-nav-admin-menu *ngIf="loggedIn"></app-nav-admin-menu>
    </li>
  </ul>
</nav>
