<nav id="nav" class="pad-h-responsive">
  <ul>
    <li>
      <h1 id="title">
        <a routerLink="/">
          <span id="brand-long">CodeSail</span>
          <span id="brand-short">CS</span>
        </a>
      </h1>
    </li>
    <li>
      <app-search-form></app-search-form>
    </li>
    <li *ngIf="loggedIn">
      <button mat-icon-button type="button" [matMenuTriggerFor]="adminTools">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #adminTools="matMenu">
        <app-admin-menu></app-admin-menu>
      </mat-menu>
    </li>
    <li>
      <app-theme-switch></app-theme-switch>
    </li>
  </ul>
</nav>
