@import '~@angular/material/theming';
@import 'variables';
@import 'mixins/media';
@import 'mixins/link';
@import 'theme';

$primary: map-get($light-theme, primary);

#nav {
  // don't use margin, it would push the body down
  padding-top: .5em;
  @include media-sm {
    padding-top: 1em;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 1em;
    align-items: center;
  }
}

#title {
  font-size: 0.8 * $font-size-h1;
  line-height: 0.8 * $font-line-height;
  width: fit-content;
  margin: auto;
  // Separate from search box
  margin-right: .0em;
  @include media-xs {
    margin-right: .6em;
  }
  a {
    @include link(mat-color($primary), $border-width: 6px);
    @include media-xs {
      @include link(mat-color($primary), $border-width: 8px);
    }
  }
  margin-bottom: .1em;
}

#brand-long {
  display: none;
  @include media-xs {
    display: inline-block;
  }
}

#brand-short {
  @include media-xs {
    display: none;
  }
}
