<div class="page pad-h-sm">

  <!-- Header -->
  <div class="text-center pad-h-sm">
    <h1 class="text-primary">{{ post.title }}</h1>
    <div *ngIf="canEdit">
      <p>
        <a mat-button routerLink="edit">
          <mat-icon inline="true">edit</mat-icon> Edit
        </a>
      </p>
      <p *ngIf="!post.published">
        Drafted {{ post.created | amDateFormat: 'LL' }}
      </p>
    </div>
    <p *ngIf="post.published">
      {{ post.published | amDateFormat: 'LL' }}
    </p>
  </div>

  <markdown [data]="post.content"></markdown>

  <app-post-footer></app-post-footer>

  <div class="nav">
    <app-post-nav id="previous" [relative]="post.previous" type="previous"></app-post-nav>
    <app-post-nav id="next" [relative]="post.next" type="next"></app-post-nav>
  </div>

</div>
