@import 'variables';

.post {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  margin: 1em 0;
}

.label {
  position: static;
  &::after {
    content: ':';
    right: 0;
    margin-left: .5em;
    margin-right: 1em;
    color: $color-muted;
  }
}
