<ul>
  <li class="post elevated" *ngFor="let post of posts">
    <label class="text-muted" *ngIf="post.published">
      {{ post.published | amDateFormat: 'LL' }}
    </label>

    <app-tag-list id="tags" [ngClass]="{'separated': post.published}" [tags]="post.tags" *ngIf="post.tags.length > 0"></app-tag-list>

    <h4>
      <a [routerLink]="action === 'edit' ? ['/', post.slug, 'edit'] : ['/', post.slug]">
        {{ post.title }}
      </a>
    </h4>

    <p>
      {{ post.description }}
    </p>
  </li>
  <p class="text-center" *ngIf="posts.length === 0">
    {{ ifEmpty }}
  </p>
</ul>
