<ul>
  <li class="post" *ngFor="let post of posts">
    <section class="text-muted">
      <label *ngIf="post.published">
        {{ post.published | amDateFormat: 'LL' }}
      </label>
      <ul id="tags" *ngIf="post.tags.length > 0">
        <li *ngFor="let tag of post.tags">
          <label>
            #{{ tag }}
          </label>
        </li>
      </ul>
    </section>
    <h4>
      <a [routerLink]="action === 'edit' ? ['/', post.slug, 'edit'] : ['/', post.slug]">
        {{ post.title }}
      </a>
    </h4>
    <p>
      {{ post.description }}
    </p>
  </li>
  <ng-content *ngIf="posts.length === 0" select="[app-post-list-empty]"></ng-content>
</ul>
