#nav {
  margin-top: 2em;
  margin-bottom: 1em;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      margin: 0 1em;
    }
  }
}
