<ul>
  <li *ngFor="let patch of patches">
    <a [href]="patch.url" class="no-border" target="_blank">
      <img [src]="'assets/img/' + patch.image" [title]="patch.title">
    </a>
  </li>
</ul>

<!-- Custom CSS filters -->
<svg class="defs-only">
  <filter id="monochrome" color-interpolation-filters="sRGB" x="0" y="0" height="100%" width="100%">
    <feColorMatrix type="matrix"
    values=".67 0 0 0 0.33
    .56 0 0 0 0.44
    .58 0 0 0 0.42
    0 0 0 1 0"></feColorMatrix>
  </filter>
  <filter id="monochrome-dark" color-interpolation-filters="sRGB" x="0" y="0" height="100%" width="100%">
    <feColorMatrix type="matrix"
    values=".74 0 0 0 .26
    .41 0 0 0 .59
    .46 0 0 0 .54
    0 0 0 1 0"></feColorMatrix>
  </filter>
</svg>
