@import 'variables';

@mixin code {
  background: $color-gray-lightest;
  border: 1px solid #EEE;
  border-radius: 3px;
  padding: .1em .2em .2em .2em;
  box-sizing: content-box;
  color: $color-inline-code;
  font-family: $font-mono, Courier, monospace;
}
