@mixin link($color) {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
  border-bottom: 1px solid $color;
  transition: background 100ms;
  cursor: pointer;
  &:hover {
    background: rgba($color, 0.3);
  }
}
