@mixin media-xxs() {
  @media (min-width: 480px) {
    @content;
  }
}
@mixin media-xs() {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin media-sm() {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin media-md() {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin media-lg() {
  @media (min-width: 1200px) {
    @content;
  }
}
