@import 'mixins/media';

#prompt {
  // NOTE: background and color defined in _material.scss
  z-index: 1;  // float on top of page content
  padding: .5em;
  display: grid;
  align-items: center;
  grid-template-areas: "message" "buttons";
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  #message {
    grid-area: message;
  }
  #buttons {
    grid-area: buttons;
    display: flex;
    justify-content: center;
  }
  p {
    margin: .5em 1em;
  }
}
