ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0 .2em;
  }
  &.inline {
    display: inline-flex;
    flex-wrap: wrap;
  }
  &.stacked {
    display: inline-flex;
    flex-flow: column;
  }
}
