<div class="page pad-h-sm">
  <markdown ngPreserveWhitespaces>
    ## Hi! I'm Florimond.

    Born in Belgium and naturalized French, I am a citizen of Europe. I pursue a Masters of Engineering with a focus on Software Engineering at [CentraleSupélec](http://www.centralesupelec.fr/en), France.

    I am a passionate problem solver. I try to feed my curiosity and learn everyday. I draw motivation from challenging problems, effective team collaboration and enriching relationships.

    I believe in user-first approaches. Systems should accomodate their users, not the other way around.

    I can be an idealist. I believe technology can help us solve some of the issues humanity is currently facing.

    Everyone has a story to tell. I believe we can grow as a society by listening to and learning from one another.

    ## Values

    I value strong work ethics. Here are some of the motos that drive my work.

    <ul class="motos">
      <li>This is a journey</li>
      <li>Stay inspired</li>
      <li>Guidelines: pick one and stick to it</li>
      <li>Commit to high quality standards</li>
      <li>Tests are your safety net</li>
      <li>Work with people more talented than yourself</li>
      <li>Be supportive, empathize always</li>
      <li>Know what you don't know; ask questions</li>
      <li>Never stop learning</li>
    </ul>
  </markdown>
</div>
