@import 'variables';
@import 'theme';

#banner {
  img {
    max-width: 100%;
    height: auto;
    pointer-events: none;
  }
  figcaption {
    text-align: right;
    font-size: x-small;
    width: 100%;
  }
}


// NOTE: see _material.scss
ul.motos {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 1em;
  li {
    cursor: default;
    text-align: center;
    margin: .5em;
    &::before {
      content: '~ ';
    }
  }
}
