@import 'variables';

// Include custom classes and Material theming
@import 'classes';
@import 'fonts';
@import 'theme';
@import 'material';

html {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
}

header {
  margin: 0;
  padding: 0;
}

code {
  font-family: $font-mono, Courier, monospace;
}
pre > code {
  font-size: .9em;
}

input {
  font: inherit;
  font-size: inherit;
}

button {
  /* Remove styles */
  background: none;
  color: inherit;
  border: none;
  box-sizing: border-box;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

// Center iframes in markdown content
markdown iframe {
  display: block;
  margin: 1em auto 1.5em auto;
}

table {
  margin: 1em auto;
}
