@import '~@angular/material/theming';
@import 'fonts';
@import 'variables';
@import 'classes';
@import 'material';
@import 'mixins/link';
@import 'mixins/code';
@import 'theme';

$primary: map-get($theme, primary);

html {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  color: $color-text;
}

header {
  margin: 0;
  padding: 0;
}

hr {
    border: 0;
    height: 1px;
    background: $color-muted;
}

a {
  @include link(mat-color($primary));
  color: inherit;
  &.no-style {
    font-weight: inherit;
    border: inherit;
    background: inherit;
  }
}

code {
  font-family: $font-mono, Courier, monospace;
}
pre > code {
  font-size: .9em;
}
code:not(pre > code) {
  @include code;
}

@mixin card-shadow {
  box-shadow: 0px 1px 1px 1px transparentize(black, 0.93);
}

pre {
  overflow: auto;
  padding: 1em;
  background: $color-gray-lightest;
  border-radius: 4px;
  @include card-shadow;
}

blockquote {
  margin: 1em 2em;
  padding: 0;
  color: $color-muted;
  font-size: $font-size-quote;
}

input {
  font: inherit;
  font-size: inherit;
}
