// Global styles
@import 'fonts';
@import 'variables';
@import 'classes';

html {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  color: $color-text;
  font-family: $font, Arial, sans-serif;
  font-size: $font-size;
}

header {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: $font-heavy;
  font-size: $font-size-h1;
  &.title {
    font-size: $font-size-title;
  }
}

h2 {
  &:not(.font-mono) {
    font-family: $font-heavy;
  }
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

hr {
    border: 0;
    height: 1px;
    background: $color-muted;
}

a {
  @include link($color-primary);
  color: inherit;
}

code {
  font-family: $font-mono, Courier, monospace;
}
pre > code {
  font-size: .9em;
}
p > code {
  background: $color-gray-lightest;
  border: 1px solid #EEE;
  border-radius: 3px;
  padding: .1em .2em .2em .2em;
  box-sizing: content-box;
  color: $color-inline-code;
}

@mixin card-shadow {
  box-shadow: 0px 1px 1px 1px transparentize(black, 0.93);
}

pre {
  overflow: auto;
  padding: 1em;
  background: $color-gray-lightest;
  border-radius: 4px;
  @include card-shadow;
}

blockquote {
  margin: 0 2em;
  padding: 0;
  color: $color-muted;
  font-family: $font-light;
  font-size: $font-size-quote;
}

textarea {
  font: inherit;
  font-size: inherit;
  border: none;
  outline: none;
  resize: vertical;
  @include card-shadow;
  border-right: 1px solid #EEE;
  padding: 20px;
  box-sizing: border-box;
}

input {
  font: inherit;
  font-size: inherit;
}
