<h2 mat-dialog-title>Upload image</h2>

<mat-dialog-content>
  <file-drop (onFileDrop)="dropped($event)">Drop an image here</file-drop>

  <table id="uploaded-files" mat-table [dataSource]="files" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let file">{{ file.relativePath }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['name']"></tr>
    <tr mat-row *matRowDef="let file; columns: ['name'];"></tr>
  </table>

  <div id="upload">
    <button mat-raised-button type="button" color="primary" [disabled]="!files.length" (click)="upload()">
      Upload
    </button>
  </div>

  <div *ngIf="uploaded">
    <p>Markdown code</p>
    <code>
      <input matInput #imageCodeRef type="text" readonly [value]="imageCode" (click)="copy()">
    </code>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
