<h2 mat-dialog-title>Upload image</h2>

<mat-dialog-content>
  <div class="text-center">
    <input (change)="onSelectFile($event)" type="file" id="input-file" accept="image/jpeg,image/png"/>
    <button mat-button color="default" (click)="clickItem('input-file')">
      Select a file
    </button>
  </div>

  <p *ngIf="file">
    <span class="text-muted">Filename: </span> {{ file.name }}
  </p>

  <div id="upload">
    <button mat-raised-button type="button" color="primary" [disabled]="!ready || uploading" (click)="upload()">
      Upload
    </button>
    <app-spinner inline="true" *ngIf="uploading"></app-spinner>
  </div>

  <code *ngIf="uploaded">
    <input matInput #imageCodeRef type="text" readonly [value]="imageCode" (click)="copy()">
  </code>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
