<div id="header" class="text-center pad-h-sm">
  <h1>Florimond Manca</h1>
  <p class="text-muted">
    [flɔʁimɔ̃ mɑ̃ka]
  </p>
  <p>
    I write about web development and software engineering. 💻
  </p>
  <p>
    <a routerLink="/codesail">Read the blog</a>
  </p>
</div>

<div id="banner" class="page text-center">
  <img src="assets/img/profile-banner.jpg" alt="Florimond Manca">
  <figcaption class="text-muted">Lauren Mijatovic, 2018.</figcaption>
</div>

<div class="page pad-h-sm">
  <app-about></app-about>
  <app-contact-form></app-contact-form>
</div>
