
@import 'variables';

#banner {
  img {
    max-width: 100%;
    height: auto;
  }
}

ul.motos {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 1em;
  li {
    cursor: default;
    color: $color-muted;
    text-align: center;
    margin: .5em;
  }
}
