<form [formGroup]="formGroup" (ngSubmit)="submit()">
  <div id="editor" class="pad-h-sm">

    <div id="title">
      <input formControlName="title" type="text" hidden>

      <h1 contenteditable class="text-primary text-mono" [ngClass]="{'empty': !titleText}" #titleEl>{{ initialTitleText }}</h1>
      <p class="text-hint">
        Slug: <span class="text-mono">{{ slug.value }}</span>
        <label *ngIf="slug.invalid" class="text-warn">
          &nbsp;
          <span *ngIf="slug.errors.exists">
            <fa-icon [icon]="faWarn"></fa-icon>
            An article with this slug already exists.
          </span>
          <span *ngIf="slug.errors.required">
            <fa-icon [icon]="faWarn"></fa-icon>
            Title is required.
          </span>
        </label>
      </p>

      <p class="text-hint">
        <a href="https://www.markdownguide.org/cheat-sheet/" target="_blank">Markdown</a>
        is supported.
      </p>
    </div>

    <textarea id="edit" formControlName="content" rows="10" class="full-width" #contentEl></textarea>

    <markdown id="preview" [data]="contentText"></markdown>
  </div>

  <div class="sticky push-left">
    <button mat-raised-button color="primary" type="submit" [disabled]="!formGroup.valid">
      Save
    </button>
  </div>
</form>
<div class="text-center" *ngIf="post">
  <button mat-button color="warn" (click)="delete()">Delete</button>
</div>
