@import 'variables';

#editor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "title title" "edit preview";
  grid-column-gap: 2em;
}

#title {
  grid-area: title;
  h1 {
    &::before {
      content: '# ';
    }
    &.empty {
      &::after {
        content: 'Type title…';
        opacity: 0.5;
      }
    }
  }
}

$p: 2em;
.sticky {
  position: sticky;
  bottom: $p;
}

.push-left {
  width: fit-content;
  margin-left: auto;
  margin-right: $p;
}

#edit {
  grid-area: edit;
  background-color: $color-gray-lightest;
  font-family: $font-mono;
}

#preview {
  grid-area: preview;
  // Fix expand of grid item
  min-width: 0;
}
