@import 'variables';

#editor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "title title" "edit preview";
  grid-column-gap: 2em;
}

#title {
  grid-area: title;
  h1 {
    &::before {
      content: '# ';
    }
  }
}

#controls {
  $p: 2em;
  width: fit-content;
  margin-left: auto;
  position: sticky;
  bottom: $p;
  right: $p;
  margin-top: $p;
  margin-bottom: $p;
  display: flex;
  align-items: center;
}

#edit {
  grid-area: edit;
  background-color: $color-gray-lightest;
  font-family: $font-mono;
}

#preview {
  grid-area: preview;
  // Fix expand of grid item
  min-width: 0;
}
