@import 'variables';

#header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 2em;
}

#fields {
  display: grid;
  grid-template-columns: 2fr 1fr auto;
  grid-column-gap: 2em;
}

#editor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "edit preview";
  grid-column-gap: 2em;
  margin: 1em 0;
}

#edit {
  grid-area: edit;
  textarea {
    padding: 1em;
    box-sizing: border-box;
    background-color: $color-gray-lightest;
    font-family: $font-mono;
  }
}

#preview {
  grid-area: preview;
  // Fix expand of grid item
  min-width: 0;
}
