<form [formGroup]="formGroup" class="pad-h-sm" (ngSubmit)="formGroup.valid && submit()">

  <span id="header">
    <div id="fields">
      <mat-form-field class="full-width">
        <input matInput type="text" formControlName="title" required placeholder="Title" class="text-mono">
        <span matPrefix>#&nbsp;</span>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="text" formControlName="slug" required [readonly]="post" class="text-mono" placeholder="Slug">
        <mat-error *ngIf="formGroup.controls.slug.hasError('exists')">
          An article with this slug already exists.
        </mat-error>
        <mat-hint>An identifier used in the blog post's URL.</mat-hint>
      </mat-form-field>
    </div>

    <div>
      <button mat-raised-button [disabled]="!formGroup.valid">
        Save <ng-template [ngIf]="!post || (post && post.isDraft)">draft</ng-template>
      </button>
      <button mat-button type="button" color="accent" *ngIf="post && post.isDraft" (click)="publish()">
        <mat-icon>publish</mat-icon>
        Publish
      </button>
      <!-- Menu with action buttons -->
      <button mat-icon-button type="button" *ngIf="post" [matMenuTriggerFor]="postTools">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #postTools="matMenu">
        <button *ngIf="post" mat-menu-item [routerLink]="['../']">
          <mat-icon>launch</mat-icon>
          View post
        </button>
        <button mat-menu-item (click)="delete()">
          <mat-icon>delete</mat-icon>
          Delete
        </button>
      </mat-menu>
    </div>
  </span>

  <p class="text-hint">
    <a href="https://www.markdownguide.org/cheat-sheet/" target="_blank">Markdown</a>
    is supported.
  </p>

  <div id="editor">
    <mat-form-field id="edit" class="full-width">
      <textarea matInput
        formControlName="content"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="10"></textarea>
    </mat-form-field>
    <markdown id="preview" [data]="contentText"></markdown>
  </div>
</form>
